<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302236474469-d3e91stp00iudkek7osls7drdah834qd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302236474469-d3e91stp00iudkek7osls7drdah834qd</string>
	<key>API_KEY</key>
	<string>AIzaSyAoD9ooi5haVWtJbXtWddKSYKcfPCM1AWk</string>
	<key>GCM_SENDER_ID</key>
	<string>302236474469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pma001</string>
	<key>PROJECT_ID</key>
	<string>pma012-90278</string>
	<key>STORAGE_BUCKET</key>
	<string>pma012-90278.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302236474469:ios:b6323c53b9f25add4bba8c</string>
</dict>
</plist>